# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env*

# Dependency lock files
yarn.lock
package-lock.json

# Editor files
*.swp
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
